*list in python*

In [2]:
lstemp=[]

lst=['0ne' ,'tow' , 'three' , 'four' , 'five'] #list of sstrings

lst2=[1 , 2 , 3 , 4 , 5 ,6] #list of integer

lst3=[[1,2] , [3,4,5]] #list of lists

lst4=[1, 'danii' , 24 , 1.45 , 4.56] #list of diffrenet datatypes

print(lst4)

[1, 'danii', 24, 1.45, 4.56]

In [3]:
print(lst)

['0ne', 'tow', 'three', 'four', 'five']

In [13]:
print(lst2[3])

4

In [11]:
print(lst3[0])

[1, 2]

In [16]:
for ls in lst2:
    print(ls)

1
2
3
4
5
6

In [19]:
for ls in range(len(lst)):
  print(lst[ls])

0ne
tow
three
four
five

*List Append*

In [4]:
lst=['one' , 'two' , 'three' , 'Four' ]

lst.append('five')
lst.append('six') 
lst.append('7')#append will add the item at the end

print(lst)

['one', 'two', 'three', 'Four', 'five', 'six', '7']

*List Insert*

In [6]:
#syntax: lst.insert(x,y)

lst = ['one' , 'two' ,'four']

lst.insert(2, "three")

lst.insert(4,"five") #will add element y at location x

print(lst)

['one', 'two', 'three', 'four', 'five']

*List Remove*

In [8]:
#syntax: lst.remove(x)

lst = ['one' , 'two' , 'three' ,'five' ,'six' , 'five' ,'one']

lst.remove('five')
lst.remove('one') #it will remove first occurance of 'five' in a given list

print(lst)

['two', 'three', 'six', 'five', 'one']

*List Append & Extend*

In [9]:
lst = ['one' , 'two' , 'three' ,'five' ,'six']

lst2= ['seven' , 'nine']

#append
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'five', 'six', ['seven', 'nine']]

In [10]:
lst = ['one' , 'two' , 'three' ,'five' ,'six']

lst2= ['seven' , 'nine']

#extend
lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'five', 'six', 'seven', 'nine']

*List Delete*

In [12]:
#del to remove item based on index position
lst = ['one' , 'two' , 'three' ,'five' ,'six']

del lst[2]
print(lst)

#or we can use pop() method
a = lst.pop(2)
print(a)

print(lst)

['one', 'two', 'five', 'six']
five
['one', 'two', 'six']

*List Related Keywords in Python*

In [16]:
#keyword 'in' is used to test if an item is in a list
lst = ['one' , 'two' ,'three' ,'four']

if 'three' in lst:
    print('AI')
if 'one' in lst:
    print('ML')

AI
ML

*List Reverse*

In [17]:
#reverse is reverses the entire list

lst = ['one' , 'two' ,'three' ,'four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

*List Sorting*

In [18]:
#crete a list with numbers
numbers= [3,4,5,6,8,10]

sorted_lst = sorted(numbers)

print("sorted list :", sorted_lst)

#original list remain unchanged
print("Original list:", numbers)

sorted list : [3, 4, 5, 6, 8, 10]
Original list: [3, 4, 5, 6, 8, 10]