*SETS*

In [3]:
#setscreation
#set of integers
s = {1,2,3,4,5,2}
print(s)

#print type of s
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
s =set ([1,2,3,4,5,4])
print(s)

{1, 2, 3, 4, 5}

In [17]:
lst = [1,2,3,2]
s=set(lst)
print(s)

{1, 2, 3}

In [ ]:
#initialize a set with set() method
s = set()
print(len(s))
print(type(s))

*Add Element to a Set*

In [ ]:
#we can add single elemtn using add()method and 
#add multiple elements using update() method
s={1,4}

#set object dosnot support indexing
print(s[11]) #will cget typeError

In [27]:
#add element
s.add(2)
s.add(5)
s.add(6)


print(s)

{1, 2, 4, 5, 6}

In [29]:
#add multiple elements
s.update([4,5,7,1])
print(s)

{1, 2, 4, 5, 6, 7}

In [30]:
#add list and set
s.update([8,9],{10,2,3})
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

*Remove elements from a set*

In [32]:
#particular item can be removed from set using method,
#discard() and remove().
s = {1,2,3,5,4}
print(s)

s.discard(4) #4 is removed

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [33]:
#remove an element
s.remove(2)

print(s)

{1, 3, 5}

In [34]:
#remove item using pop()method

s = {1,2,3,5,4,6,5}
s.pop()
s.pop() #remove random element

print(s)

{3, 4, 5, 6}

*Python Set Operations*

In [35]:
set1 = {1,2,3,4,5,6}
set2 = {3,5,6,7,8,9}

#union of 2 sets using | operation

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [36]:
#intersection of 2 sets using & operation
print(set1 & set2)

{3, 5, 6}

In [38]:
#Difference: set of elements that are only in set1 but not in set2

print(set2 - set1)

print(set1 - set2)

{8, 9, 7}
{1, 2, 4}

In [39]:
#use semetric difference function
print(set1.symmetric_difference(set2))

{1, 2, 4, 7, 8, 9}

In [40]:
#find issubset()
x = {"a" ,"b","c","d","e","f"}
y = {"c" , "d"}

print("set 'x'is subset of 'y' ?", x.issubset(y)) #check x is subset of y

#y is subset of x
print("set 'y' is subset of 'x' ?",y.issubset(x))

set 'x'is subset of 'y' ? False
set 'y' is subset of 'x' ? True

*Frozen Sets*
*frozen sets dosnot add any index or number *

In [ ]:
set1 = frozenset([1,2,3,4])
set2 = frozenset([3,4,5,6])

#try to add element into set1 given an error
set1.add(s)

In [42]:
print(set1 | set2)

frozenset({1, 2, 3, 4, 5, 6})

In [43]:
print(set1 & set2)

frozenset({3, 4})

In [44]:
print(set2 - set1)

frozenset({5, 6})

In [45]:
#symmetric 
print(set1 ^ set2)

frozenset({1, 2, 5, 6})