*TUPLES IN PYTHON*

In [2]:
#empty tuple
t = ()

#tuple having integers
t = (1,3,4)
print(t)

#with mixed values
t = (1,3,'ali', 2.5,'bds')
print(t)

#nested tuples
t= (1,2,(34,5,8,9) , [1,'rge',43,'fre'])
print(t)

(1, 3, 4)
(1, 3, 'ali', 2.5, 'bds')
(1, 2, (34, 5, 8, 9), [1, 'rge', 43, 'fre'])

In [3]:
print(type(t))

<class 'tuple'>

In [4]:
#only a coma at end
t =('satish',)
type(t)

tuple

In [5]:
t =('satish')
type(t)

str

In [6]:
t= "ali" ,
print(type(t))

print(t)

<class 'tuple'>
('ali',)

*Accessing Elements in Tuples*

In [8]:
t = ("ali" ,"dfgs","jds","srim","hsw")

print(t[2])

jds

In [9]:
#negative index
print(t[-3]) #print last element in a tuple

jds

In [12]:
#nested tuples
t = ('ABC' , ('daf','heaven' , 'srom'))

print(t[0])

ABC

In [13]:
print(t[1][2])

srom

In [15]:
#slicing
t = (1,2,3,4,5,6)

print(t[1:5])

print(t[:-2])

print(t[:])

(2, 3, 4, 5)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)